.dark-mode{
   background-color: darken($color: $grisOscuro, $amount: 10); 
   p{
    color: $blanco;
   }

   a,h1,h2,h3,h4{
    color: $gris;
   }

   .anuncio,
   .resumen-propiedad{
    background-color: $grisOscuro;
    border: 1px solid $grisOscuro;
        .precio{
            color: $verde;
        }
   }

   .iconos-caracteristicas{
        .icono{
            filter: invert(100%);
        }
   }

   .formulario{

    fieldset{
        p,
        label,
        legend{
            color: $gris;
        }
        input:not([type="submit"]),
        textarea,
        select{
            color: $blanco;
            border: 1px solid $grisOscuro;
            background-color: $grisOscuro;
        }
    }
   }

   .texto-nosotros{
    blockquote{
        color: $blanco;
    }
   }

   .propiedades{
    td{
        color: $blanco;
    }
   }


}